#Uncomment lines as required

aristotle-metadata-registry>=1.4.2
git+ssh://git@gitlab.com/LegoStormtroopr/aristotle-cloud.git#egg=aristotle_cloud
#-e git+git://github.com/aristotle-mdr/aristotle-metadata-registry@develop#egg=aristotle-metadata-registry

#-e git+git://github.com/aristotle-mdr/aristotle-dataset-extensions@develop#egg=django-aristotle-dataset-extensions
-e git+git://github.com/aristotle-mdr/aristotle-ddi-utils#egg=django-aristotle-ddi-utils
-e git+git://github.com/aristotle-mdr/comet-indicator-registry@v1.4-dev#egg=django-aristotle-comet-indicator-registry
-e git+git://github.com/aristotle-mdr/mallard-questionnaire-registry#egg=django-aristotle-mallard-questionnaire
