/* CSS for search page */
#clear_filters {
  display: none;
}
#advanced_label {
  display: inline;
}
#searchAdvanced .navbar-header {
  float: none;
}
#searchAdvanced .navbar-brand {
  margin: auto;
  padding: 15px 0;
}
#userSearchTools label {
  font-weight: normal;
  padding: 0 30px;
}
a:focus {
  outline: -webkit-focus-ring-color auto 5px !important;
}
small.details {
  display: block;
}
.sort-order-box li {
  width: 180px;
}
@media (min-width: 600px) {
  #id_models,
  #id_ra {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}
li.dropdown-menu-form label,
li.dropdown-menu-date label,
.sort-order-box label {
  font-weight: normal;
  padding: 3px 10px;
  margin: 0px;
  display: inline-block;
  width: 160px;
}
li.dropdown-menu-form li,
li.dropdown-menu-date li,
.sort-order-box li {
  display: block;
  width: 200px;
  /*The label will contain the icon and the text, will grab the focus*/
  /* toggle font awsome icon*/
}
li.dropdown-menu-form li [type="checkbox"],
li.dropdown-menu-date li [type="checkbox"],
.sort-order-box li [type="checkbox"],
li.dropdown-menu-form li [type="radio"],
li.dropdown-menu-date li [type="radio"],
.sort-order-box li [type="radio"] {
  position: absolute;
  left: -9999px;
}
li.dropdown-menu-form li [type="checkbox"]:focus + label,
li.dropdown-menu-date li [type="checkbox"]:focus + label,
.sort-order-box li [type="checkbox"]:focus + label,
li.dropdown-menu-form li [type="radio"]:focus + label,
li.dropdown-menu-date li [type="radio"]:focus + label,
.sort-order-box li [type="radio"]:focus + label {
  outline: -webkit-focus-ring-color auto 5px;
  background-color: whiteSmoke;
}
li.dropdown-menu-form li [type="checkbox"]:hover + label,
li.dropdown-menu-date li [type="checkbox"]:hover + label,
.sort-order-box li [type="checkbox"]:hover + label,
li.dropdown-menu-form li [type="radio"]:hover + label,
li.dropdown-menu-date li [type="radio"]:hover + label,
.sort-order-box li [type="radio"]:hover + label {
  background-color: whiteSmoke;
}
li.dropdown-menu-form li [type="checkbox"] + label:before,
li.dropdown-menu-date li [type="checkbox"] + label:before,
.sort-order-box li [type="checkbox"] + label:before,
li.dropdown-menu-form li [type="radio"] + label:before,
li.dropdown-menu-date li [type="radio"] + label:before,
.sort-order-box li [type="radio"] + label:before {
  font-family: 'FontAwesome';
  display: table-cell;
  box-sizing: border-box;
  width: 16px;
}
li.dropdown-menu-form li [type="checkbox"] ~ label > span,
li.dropdown-menu-date li [type="checkbox"] ~ label > span,
.sort-order-box li [type="checkbox"] ~ label > span,
li.dropdown-menu-form li [type="radio"] ~ label > span,
li.dropdown-menu-date li [type="radio"] ~ label > span,
.sort-order-box li [type="radio"] ~ label > span {
  display: table-cell;
  padding-left: 5px;
}
li.dropdown-menu-form li label,
li.dropdown-menu-date li label,
.sort-order-box li label {
  width: 100%;
  cursor: pointer;
  display: table;
}
li.dropdown-menu-form li [type="checkbox"]:checked + label:before,
li.dropdown-menu-date li [type="checkbox"]:checked + label:before,
.sort-order-box li [type="checkbox"]:checked + label:before {
  content: "\f046";
}
li.dropdown-menu-form li [type="checkbox"]:not(:checked) + label:before,
li.dropdown-menu-date li [type="checkbox"]:not(:checked) + label:before,
.sort-order-box li [type="checkbox"]:not(:checked) + label:before {
  content: "\f096";
}
li.dropdown-menu-form li [type="radio"]:checked + label:before,
li.dropdown-menu-date li [type="radio"]:checked + label:before,
.sort-order-box li [type="radio"]:checked + label:before {
  content: "\f05d";
}
li.dropdown-menu-form li [type="radio"]:not(:checked) + label:before,
li.dropdown-menu-date li [type="radio"]:not(:checked) + label:before,
.sort-order-box li [type="radio"]:not(:checked) + label:before {
  content: "\f1db";
}
#searchbar {
  margin-bottom: 5px;
}
#searchOptions {
  padding: 0;
}
#searchOptions label {
  font-weight: normal;
}
#searchOptions ul {
  margin-left: 0em;
  padding-left: 0em;
}
#searchOptions li {
  list-style-type: none;
}
#searchOptions dt[data-toggle='collapse']:before {
  font-family: FontAwesome;
  content: '\f107';
  font-weight: normal;
  padding-right: 3px;
}
#searchOptions dt[data-toggle='collapse'].collapsed:before {
  content: '\f105';
}
ol.searchResults {
  margin-left: 0px;
  padding-left: 0px;
  display: table;
}
ol.searchResults.active li div.result {
  padding-left: 20px;
}
ol.searchResults li {
  display: table-row;
  padding: 5px;
  list-style-type: none;
}
ol.searchResults li > div {
  display: table-cell;
  vertical-align: top;
}
ol.searchResults li a {
  font-size: 125%;
  padding-right: 10px;
}
ol.searchResults li span.time,
ol.searchResults li span.item_type {
  display: inline-block;
}
ol.searchResults li .actions {
  padding-top: 3px;
}
ol.searchResults li .actions * {
  display: block;
  padding-top: 3px;
  text-align: center;
}
ol.searchResults li .result {
  padding-bottom: 2px;
  padding-left: 5px;
}
ol.searchResults li .result .attr {
  display: block;
  color: gray;
  font-size: 90%;
}
.facets {
  font-size: 1em;
  padding: 0px;
}
.facets header {
  font-size: 110%;
  font-weight: bold;
}
.facets dl {
  font-size: 95%;
}
.facets dl dt {
  padding-top: 3px;
}
.facets dl dd {
  padding-left: 10px;
}
