#dashboard-nav {
  padding-left: 0px;
  padding-right: 0px;
}
#dashboard-nav .dashMenu > li > a {
  padding-left: 30px;
}
#dashboard-nav .dashMenu > li > a > i {
  margin-left: -25px;
}
#dashboard-nav .dashMenu .dashSubMenu {
  margin-left: 7px;
  margin-right: 3px;
  border-left: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
  border-right: 1px solid #2e2e2e;
}
#dashboard-nav .dashMenu .dashSubMenu > li > a {
  font-size: 90%;
}
#user_sidebar {
  padding: 50px 0;
  width: 250px;
  background-color: #2E2E3E;
}
#user_sidebar li a {
  color: #e2e2e2;
}
#user_sidebar li a:hover {
  color: #2e2e2e;
}
#user_sidebar li.active,
#user_sidebar li.active a {
  background-color: #3E3E4E;
}
#user_sidebar li.active a:hover {
  background-color: #6E6E8E;
  color: #0e0e2e;
}
#registrarcontrols > dt {
  font-size: 110%;
}
#registrarcontrols > dt,
#registrarcontrols > dd {
  border-top: 1px solid lightgray;
}
#registrarcontrols dt:after {
  content: '';
}
#registrarcontrols > dd > dl {
  margin-bottom: 0px;
}
@media (max-width: 600px) {
  #registrarcontrols > dt {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightblue;
    font-size: 110%;
  }
  #registrarcontrols > dd {
    padding-left: 30px;
  }
  #registrarcontrols > dd > dl > dt {
    clear: both;
  }
}
#content {
  width: 100%;
  padding: 0;
  display: table-row;
}
body > .main.navbar {
  margin-bottom: 0;
}
#content > * {
  display: table-cell;
}
.admin-wrap h1 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #2e2e2e;
}
