{% load aristotle_tags %}
{% load humanize i18n %}

<a class="btn btn-default" href="{% url 'aristotle:download' download_type='pdf' iid=item.id %}"><i class="fa fa-download"></i> Export indicator</a>
{% if item|can_edit:request.user %}
<a class="btn btn-default" href="{% url 'aristotle:edit_item' item.id %}">
    <i class="fa fa-fw fa-pencil-square-o"></i> {% trans 'Open item editor'%}
</a>
{% endif %}

<h3>Status</h3>
<div>Current activity</div>
{% with statuses=item.current_statuses %}
    {% if statuses.all %}
        {% for status in statuses.all %}
        <a href="{% url 'aristotle:registrationAuthority' status.registrationAuthority.id %}">
            {% trans status.state_name %}
        </a>
        {% endfor %}
    {% endif %}
{% endwith %}
    <dl>
        <dt>{% trans 'Last Updated Date'%}</dt>
        <dd>
            {% if request.user.is_superuser or request.user.is_staff and item.workgroup in request.user.workgroups %}
                <time title="{{ item.modified|date:'o-m-d H:i e' }}" datetime="{{ item.modified|date:'c' }}">
                    <a href="{% historyLink item %}">{{item.modified|naturaltime}}</a>
                </time>
            {% elif item.workgroup in request.user.workgroups %}
                <time title="{{ item.modified|date:'o-m-d H:i e' }}" datetime="{{ item.modified|date:'c' }}">
                    <a href="{% url 'aristotle:item_history' iid=item.id %}">{{item.modified|naturaltime}}</a>
                </time>
            {% else %}
                <time title="{{ item.modified|date:'o-m-d H:i e' }}" datetime="{{ item.modified|date:'c' }}">
                    {{item.modified|naturaltime}}
                </time>
            {% endif %}
            {% if request.user.is_superuser or request.user.is_active and item.workgroup in request.user.workgroups %}
            <span style="display:inline-block">By {% with name=last_edit.revision.user.get_username %}
                    {% if name %}{{ name }}{% else %}<em title="{% trans 'This may have been added during an import.'%}">{% trans 'Unknown' context "Unknown import user"%}</em>{% endif %}
                    {% endwith %}
            </span>
            {% endif %}
        </dd>

    {% block asideContent %}{% endblock %}

    {% with total=item.supersedes.count %}
        <dt class="large">{% trans 'Supersedes'%}
        {% if item|can_edit:request.user %}
            <a class="inline_action" href="{% url 'aristotle:deprecate' iid=item.id %}"
                data-toggle="modal" data-target="#infobox_modal">{% ternary total 'Change' 'Add'%}</a>
        {% endif %}</dt>
        <dd class="large">
        <ul>
            {% for sup in item.supersedes.all|can_view_iter:user %}
                <li>
                  <a href="{% url 'aristotle:item' iid=sup.id %}/">
                    {{ sup }}
                  </a>
                </li>
            {% empty %}
                <li><em>{% trans 'None' context 'No older objects' %}</em></li>
            {% endfor %}
        </ul>
        </dd>
    {% endwith %}
        <dt class="large">{% trans 'Superseded by'%}
            {% if item|can_edit:request.user %}
                <a class="inline_action" href="{% url 'aristotle:supersede' iid=item.id %}"
                   data-toggle="modal" data-target="#infobox_modal">{% ternary item.superseded_by 'Change' 'Add'%}</a>
            {% endif %}</dt>
        <dd class="large">
        <ul><li>
            {% if item.superseded_by %}
                <a href="{% url 'aristotle:item' iid=item.superseded_by.id %}">{{ item.superseded_by }}</a>
            {% else %}
                <em>{% trans 'None' context 'No newer objects'%}</em>
            {% endif %}
        </li></ul>
        </dd>
    {% if item.workgroup and request.user|in_workgroup:item.workgroup %}
        <hr>
        <dt>{% trans 'Workgroup' %}</dt>
        <dd><a href="{% url 'aristotle:workgroup' iid=item.workgroup.id %}">{{ item.workgroup.name }}</a></dd>
        <dt>{% trans 'History' %}</dt>
        <dd><a href="{% url 'aristotle:item_history' iid=item.id %}">{% trans "View history" %}</a></dd>
        <dt>{% trans 'Discussions' %}</dt>
        <dd>{% if item.relatedDiscussions.exists %}
            <ul>
                {% for discussion in item.relatedDiscussions.all %}
                <li>
                    <a href="{% url 'aristotle:discussionsPost' pid=discussion.id %}">{{ discussion.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <a href="{% url 'aristotle:discussionsNew' %}?workgroup={{item.workgroup.id}}&item={{item.id}}">{% trans "Start a new discussion about this item" %}</a>
        </dd>
    {% endif %}
    </dl>
<hr>
