{% extends "aristotle_mdr/base.html" %}
{% load aristotle_tags util_tags %}
{% block extra_head_scripts %}
<style>
.question_details li {
    display:table-row;
}
    .question_details li * {
        display:table-cell;
        padding-right:5px;
    }
</style>
<link rel="stylesheet" href="{{ STATIC_URL }}logicaloutcomes/logical.css" />
{% endblock %}

{% block title %}
    {{ item.name }}
    {% if item.version %}
        - v{{ item.version }}
    {% endif %}
    ({{ item.get_verbose_name }})
{% endblock %}

{% block content %}

<h1>Indicator detailed view</h1>

<div class="row indicator-holder">
    <div class="indicator-table">
        <div>
            <header>Indicator name:</header>
            <div><strong>{{item.name}}</strong></div>
        </div>
        <div>
            <header>Question</header>
            <div>
                {% if item.numerators %}
                <ul class="question_details">
                    {% for d in item.numerators.all %}
                        {% for q in d.questions.all %}
                        <li>
                            <tt>{{ d.value }} [ ]</tt>
                            <span><a href="{{q.get_absolute_url}}">{{q.question_text}}</a></span>
                        </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div>
            <header>Description</header>
            <div>{{item.definition|safe}}</div>
        </div>
        <div>
            <header>Numerator</header>
            <div>
                {{ item.numerator_description|safe }}
                {% if item.numerators.exists %}
                <ul>
                {% for num in item.numerators.all %}
                    <li>{% include "aristotle_mdr/helpers/itemLink.html" with item=num showType=False %}
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div>
            <header>Denominator</header>
            <div>
                {{ item.denominator_description|safe }}
                {% if item.denominators.exists %}
                <ul>
                {% for denom in item.denominators.all %}
                    <li>{% include "aristotle_mdr/helpers/itemLink.html" with item=denom showType=False %}
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div>
            <header>Population</header>
            <div>
                <ul>
                {% for inst in item.instruments.all %}
                    <li>{{ inst.population }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <header>Limitations</header>
            <div>
                <ul>
                {% for inst in item.instruments.all %}
                    <li>{{ inst.limitations }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <header>Instrument</header>
            <div>
                <ul>
                {% for inst in item.instruments.all %}
                    <li>{% include "aristotle_mdr/helpers/itemLink.html" with item=inst showType=False %}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <header>References</header>
            <div>{{item.references | safe}}</div>
        </div>
        <div>
            <header>Terms of Use</header>
            <div>{{item.i}}</div>
        </div>
    </div>
    <div id="indicator-sidebar">
    {% include "logicaloutcomes/custom/comet/indicator_infobox.html" %}
    </div>
</div>
{% comment %}
    {% if item.references %}
    <div>
    <h2>References</h2>
        <p>{{ item.references | safe }}</p>
        {% if item.submitting_organisation %}
        <h3>Submitting Organisation</h3>
            <p>{{ item.submitting_organisation }}</p>
        {% endif %}
        {% if item.responsible_organisation %}
        <h3>Responsible Organisation</h3>
            <p>{{ item.responsible_organisation }}</p>
        {% endif %}
    </div>
    {% endif %}
    {% include "aristotle_mdr/slots/slots_display.html" %}
    <h2>Related content</h2>
        {% block relationships %}{% endblock %}
        {% for extension in config.CONTENT_EXTENSIONS %}
            {% extra_content extension item request.user %}
        {% endfor %}
    </div>
{% endcomment%}
{% endblock %}
