{% extends "aristotle_mdr/base.html" %}

{% block content %}


<div class="row">
    <div class="col-xs-12">
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="#">Export</a></li>
</ol>
<h1><a href="#">{% block title %}Export{% endblock %}</a></h1>
<p>
Indicators can be exported from the LogicalOutcomes financial literacy indicator registry in two ways.
When viewing a single indicator click the "Export Indicator" button to download a PDF copy of the indicator.
When browsing the registry, multiple indicators can be downloaded by selecting them on the right 
and clicking export. For more information see the
<a href="/help/page/downloading-content">help page on downloading content</a>.
In future phases, we plan to offer exports into csv, Excel, DHIS2 and possibly XLSForms.
For more information, <a href="/contact">contact us</a>.
</p>
</div>
</div>
{% endblock %}
