<footer class="footer">
    <div class="container">
    <div class="row">
    <div class="col-md-4 col-sm-6">
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="/privacy/">Privacy</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="{% url 'aristotle:accessibility' %}">Accessibility</a>
        <a href="/terms_of_use/">Terms of Use and Disclaimer</a>
    </div>
    </div>
    {# Removing or altering the following line may breach your licence #}
    {# If you extend this file make sure the following link is retained in your footer #}
    <span id="credit">
        Powered by <a href="http://logicaloutcomes.net/">LogicalOutcomes</a> and the <a href="http://aristotlemetadata.com">Aristotle Metadata Registry</a>
    </span>
    </div>
</footer>
