<section>
<header>
    <h1>
        {{ item.name }}
    </h1>
</header>

{{ item.definition|safe }}

<div class="objectSpecific">
    {% include "local/downloads/pdf/property_simple_display.html" with name='Numerator description' prop=item.numerator_description %}

    <h2>Indicator calculation</h2>
    Numerator: {{ item.numerator_computation }}
    <br>
    Denominator: {{ item.denominator_computation }}

    {% include "local/downloads/pdf/property_simple_display.html" with name='Rationale' prop=item.rationale %}

    {% include "local/downloads/pdf/property_simple_display.html" with name='References' prop=item.references %}

    {% include "local/downloads/pdf/property_simple_display.html" with name='Additional information' prop=item.comments %}

    <h2 class="compact">Logic model</h2>
    {% include "local/downloads/pdf/slot_simple_display.html" with name='Inputs and outputs' display='inline' hide_title=True next_slot='Outcomes' %}
    {% include "local/downloads/pdf/slot_simple_display.html" with name='Outcomes' display='inline' hide_title=True %}

    <h2 class="loose">Indicator registry URL</h2>
    <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ item.get_absolute_url }}">
        {{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ item.get_absolute_url }}
    </a>

</div>


</section>