{% load aristotle_tags slot_tags markdown_deux_tags %}
{% comment %}
Usage: {% include "local/downloads/pdf/slot_simple_display.html" with item=obj name='Reference' display='inline' hide_title=True %}
{% endcomment %}
{% with item|slots_by_type:name as slots %}
    {% if slots %}
        {% if not hide_title %}
            <h2>{{ name }}</h2>
        {% endif %}

        {% for slot in slots %}
            {% if display == 'inline' %}
                {{slot.value}}{% if not forloop.last %},{% endif %}
                {# If next slot check if we need to add a comma to sperate it #}
                {% if forloop.last and next_slot %}
                    {% with item|slots_by_type:next_slot as next_slots %}
                        {% if next_slots %},{% endif %}
                    {% endwith %}
                {% endif %}
            {% else %}
                {{slot.value|markdown}}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}