{% load aristotle_tags slot_tags markdown_deux_tags %}
{% comment %}
Usage: {% include "local/downloads/pdf/slot_simple_display.html" with item=obj name='Reference' display='inline' hide_title=True %}
{% endcomment %}
{% with item|slots_by_type:name as slots %}
    {% if slots %}
        {% if not hide_title %}
            <h3>{{ name }}</h3>
        {% endif %}
        {% for slot in slots %}
            {% if display == 'inline' %}
                {{slot.value}}{% if not forloop.last %},{% endif %}
            {% else %}
                {{slot.value|markdown}}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}