{% extends "sis_sites/ocasi/base.html" %}

{% block nav_evaluation_class %}active{% endblock %}
{% block nav_evaluation_sr_class %} <span class="sr-only">(current)</span>{% endblock %}

{% block title %}Create a logic model{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li ><a href="{% url 'ocasi_home' %}">Home</a></li>
  <li><a href="{% url 'ocasi_evaluation' %}">Evaluation tools</a></li>
  <li class="active">Create a logic model</li>
</ol>

<div class="row">
    <div class="col-sm-8">
        <div class="title-box">
            <img class="title-box_icon" src="https://logicaloutcomes.github.io/ocasi-theme/img/icons/redes.png" alt="Logic Model">
            <h1 class="title-box_title">Create a logic model or theory of change</h1>
            <p class="title-box_description">
                We have created a generic logic model for Canadian agencies serving immigrants and refugees. Agencies can select their own indicators and customize their logic model for their specific programs based on the general framework below.  Watch the video tutorial for details.

                You can create your own logic model two ways:
            </p>
            <ul class="title-box_description">
                <li>
                    You can click on each link below, which will take you to the indicator registry. You can select relevant indicators and export them into pdf or csv.
                </li>
                <li>
                    Or, you can <a href="#">sign up for an account</a> and create your own workspace. Then you can select and save indicators within the registry.
                </li>
            </ul>
        </div>
    </div>

    <div class="col-sm-4">
        <br>
        <br>
        <br>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OCWj5xgu5Ng"></iframe>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <br>

        <table class="table table-bordered">
            <thead>
                <th class="text-center">Inputs</th>
                <th class="text-center">Activities and processes</th>
                <th class="text-center">Reach and experience</th>
                <th class="text-center">Outcomes</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#">
                            Program design
                        </a>
                        <br>
                        <br>
                        <a href="#">
                            Organizational capacity
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Number and type of program activities compared to targets
                        </a>
                        <br>
                        <br>
                        <a href="#">
                            Program quality
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Number and type of participants reached compared to targets
                        </a>
                        <br>
                        <br>
                        <a href="#">
                            Participant experience
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Income
                        </a>
                        <br>
                        <a href="#">
                            Employment
                        </a>
                        <br>
                        <a href="#">
                            Health and wellbeing
                        </a>
                        <br>
                        <a href="#">
                            Housing
                        </a>
                        <br>
                        <a href="#">
                            Education and training
                        </a>
                        <br>
                        <a href="#">
                            Social inclusion
                        </a>
                        <br>
                        <a href="#">
                            Access to services
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

{% endblock %}