{% extends "sis_sites/ocasi/evaluation_base.html" %}

{% block nav_evaluation_class %}active{% endblock %}
{% block nav_evaluation_sr_class %} <span class="sr-only">(current)</span>{% endblock %}

{% block title %}Create a logic model{% endblock %}

{% block evaluation_nav_model %}active{% endblock %}
{% block content %}
{{ block.super }}



<div class="row">
    <div class="col-sm-12">
        <div class="title-box">
            <img class="title-box_icon" src="https://logicaloutcomes.github.io/ocasi-theme/img/icons/design_a_logic_model.png" alt="Logic Model">
            <h1 class="title-box_title">Create a logic model or theory of change</h1>
            <p class="title-box_description">
                We have created a generic logic model for Canadian agencies serving immigrants and refugees. Agencies can select their own indicators and customize their logic model for their specific programs based on the general framework below. <br>
                <br>
                Follow these steps to create your own logic model:
            </p>
            <ul class="title-box_description">
                <li>
                    Click on each link below, which will take you to the <a href="{% url 'ocasi_registry' %}" target="_blank">indicator registry</a>.
                </li>
                <li>
                    Select relevant indicators and export them into pdf or csv.
                </li>
            </ul>
            <p>In the future, you’ll be able to sign up for an account and create your own workspace to select and save indicators within the registry.</p>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Inputs
            </div>
            <div class="panel-body">
                <em>Inputs are what goes into your program. It includes money, staff, volunteers, research, technology, and any other resources that are essential for achieving your program's desired outcomes.</em>
                <br>
                <br>
                <a href="{% url 'ocasi_registry' %}?col=OCASI&io=Program+design" target="_blank">
                    Program design
                </a>
                <br>
                <br>
                <a href="{% url 'ocasi_registry' %}?col=OCASI&io=Organizational+capacity" target="_blank">
                    Organizational capacity
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Activities and processes
            </div>
            <div class="panel-body">
                <em>Activities and processes are what your program does. It includes the activities that clients actually see as well as the underlying processes like monitoring and quality control.</em>
                <br>
                <br>
                <a href="{% url 'ocasi_registry' %}?col=OCASI&io=Program+activities" target="_blank">
                    Number and type of program activities compared to targets
                </a>
                <br>
                <br>
                <a href="{% url 'ocasi_registry' %}?col=OCASI&io=Program+quality" target="_blank">
                    Program quality
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Reach and experience
            </div>
            <div class="panel-body">
                <em>Reach and experience are who does your program serve and how many people does it reaches. Does your program require satisfaction or active engagement from your participants, community stakeholders or your partner organizations?</em>
                <br>
                <br>
                <a href="{% url 'ocasi_registry' %}?col=OCASI&io=Participants+reached" target="_blank">
                    Number and type of participants reached compared to targets
                </a>
                <br>
                <br>
                <a href="{% url 'ocasi_registry' %}?col=OCASI&io=Participant+experience" target="_blank">
                    Participant experience
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Outcomes
            </div>
            <div class="panel-body">
                <em>Outcomes are what you are hoping to achieve with your program. Outcomes should capture the desired goals for your participants and communities.</em>
                <br>
                <br>
                <a href="{% url 'ocasi_registry' %}?col=OCASI&sdom=Income" target="_blank">
                    Income
                </a><br>
                <br>
                <a href="{% url 'ocasi_registry' %}?col=OCASI&sdom=Employment" target="_blank">
                    Employment
                </a><br>
                <br>
                <a href="{% url 'ocasi_registry' %}?col=OCASI&sdom=Health+and+well-being" target="_blank">
                    Health and wellbeing
                </a><br>
                <br>
                <a href="{% url 'ocasi_registry' %}?col=OCASI&sdom=Housing" target="_blank">
                    Housing
                </a><br>
                <br>
                <a href="{% url 'ocasi_registry' %}?col=OCASI&sdom=Education+and+training" target="_blank">
                    Education and training
                </a><br>
                <br>
                <a href="{% url 'ocasi_registry' %}?col=OCASI&sdom=Social+inclusion" target="_blank">
                    Social inclusion
                </a><br>
                <br>
                <a href="{% url 'ocasi_registry' %}?col=OCASI&sdom=Access+to+services" target="_blank">
                    Access to services
                </a><br>
                <br>
                <a href="{% url 'ocasi_registry' %}?col=OCASI&sdom=Life+skills" target="_blank">
                    Life skills
                </a>
            </div>
        </div>
    </div>

</div>

{% endblock %}