{% extends "sis_sites/ocasi/base.html" %}

{% block nav_data_portal_class %}active{% endblock %}
{% block nav_data_portal_sr_class %} <span class="sr-only">(current)</span>{% endblock %}

{% block content %}

    <ol class="breadcrumb">
      <li ><a href="{% url 'ocasi_home' %}">Home</a></li>
      <li class="active">Community data portal</li>
    </ol>

    <div class="row">
        <div class="col-md-12">
            <div class="title-box">
                <img class="title-box_icon" src="https://logicaloutcomes.github.io/ocasi-theme/img/icons/user.png" alt="Data portal">
                <h1 class="title-box_title">Community data portal</h1>
                <p class="title-box_description">
                    Use this portal to compare the situation of immigrants with the general Ontario population on key themes such as employment, income, and more. <br>
                    It's easy! Choose from the filters and scroll down to view reports.<br>
                    <a href="/ocasi/help/">Watch the tutorial video</a> for help getting started.
                </p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h2 class="section-title">Better understand your community</h2>
            <p>
                Choose from the filters below: select the population group, location, age, and sex groups that you wish to compare against the overall population. Reports will automatically update when you select filters. Ontario data are from the Statistics Canada <a href="http://www12.statcan.gc.ca/census-recensement/2011/dp-pd/index-eng.cfm">2011 National Household Survey.</a>
            </p>
        </div>
    </div>


    {% comment %}
    <div class="embed-responsive embed-responsive-16by9 embed-responsive-full">
        <iframe class="embed-responsive-item" src="https://app.powerbi.com/view?r=eyJrIjoiNjNiM2E2Y2YtYjg1YS00Mzc3LTliN2EtYTAzMzg5MTI5ODhlIiwidCI6IjMzZWI5ODkzLWUyYWUtNGI2ZC1hNGJiLTYyYjliZDc3MzJkYiJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <hr>
    {% endcomment %}


    <div class="embed-responsive embed-responsive-16by9 embed-responsive-full">
        <iframe class="embed-responsive-item" src="https://app.powerbi.com/view?r=eyJrIjoiNDlkNmNhMDEtNTU1Ni00NjM0LTk3NWMtODU4MjgzZWE2NjY3IiwidCI6IjMzZWI5ODkzLWUyYWUtNGI2ZC1hNGJiLTYyYjliZDc3MzJkYiJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>

    <hr>

    <div class="embed-responsive embed-responsive-16by9 embed-responsive-full">
        <iframe class="embed-responsive-item" src="https://app.powerbi.com/view?r=eyJrIjoiZWYzMTk5ZDgtMjc4OS00NmYyLWFiMTUtYmE4NmJlYjE5MWFkIiwidCI6IjMzZWI5ODkzLWUyYWUtNGI2ZC1hNGJiLTYyYjliZDc3MzJkYiJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>

    <hr>

    <div class="embed-responsive embed-responsive-16by9 embed-responsive-full">
        <iframe class="embed-responsive-item" src="https://app.powerbi.com/view?r=eyJrIjoiNmIxY2RkZmItNmRlZS00NTEzLWFlMDYtMDA1Mjk1NzhkYmNiIiwidCI6IjMzZWI5ODkzLWUyYWUtNGI2ZC1hNGJiLTYyYjliZDc3MzJkYiJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>

    <hr>

    <div class="embed-responsive embed-responsive-16by9 embed-responsive-full">
        <iframe class="embed-responsive-item" src="https://app.powerbi.com/view?r=eyJrIjoiNWY0YTE0M2YtMDM0Ny00NjQ5LTliMDktM2IwMTk5ODFmYzlhIiwidCI6IjMzZWI5ODkzLWUyYWUtNGI2ZC1hNGJiLTYyYjliZDc3MzJkYiJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>

    <hr>

    <div class="embed-responsive embed-responsive-16by9 embed-responsive-full">
        <iframe class="embed-responsive-item" src="https://app.powerbi.com/view?r=eyJrIjoiMmY4MmY2NTMtOTgyOC00NWEwLWI0YjAtNmE4ODdkM2Q3ZGRlIiwidCI6IjMzZWI5ODkzLWUyYWUtNGI2ZC1hNGJiLTYyYjliZDc3MzJkYiJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>

    <hr>
{% endblock %}