{% extends "sis_sites/ocasi/base.html" %}

{% block nav_home_class %}active{% endblock %}
{% block nav_home_sr_class %}<span class="sr-only">(current)</span>{% endblock %}

{% block pre_content %}

<div class="container">

    <div class="row">
        <div class="col-md-12 main-title-box">
            <h1 class="main-title-box_title">Welcome to the OCASI Service Information System</h1>
            <p class="main-title-box_description">
            Find out about your agency and the community you serve. <br>
            Use shared indicators and measures to assess your programs and organization
            </p>
        </div>
    </div>

</div>

<div class="section-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-5 col-lg-offset-1">
                <div class="main-section-box">
                    <a href="/ocasi/help/" class="main-section-box_header-links">
                        <img class="main-section-box_icon" src="https://logicaloutcomes.github.io/ocasi-theme/img/icons/network.png" alt="Community data portal">
                        <div class="main-section-box_titles">
                            <h3 class="main-section-box_titles_title">Get started with SIS</h3>
                        </div>
                    </a>
                    <p class="main-section-box_description">
                        Welcome! Watch the brief how-to videos to learn about the three elements of SIS and how SIS can improve your program evaluations.
                    </p>
                    <p class="main-section-box_link">
                        <a href="/ocasi/help/">Click to get started</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-6 col-lg-5">
                <div class="main-section-box">
                    <a href="/ocasi/data-portal/overview/" class="main-section-box_header-links">
                        <img class="main-section-box_icon" src="https://logicaloutcomes.github.io/ocasi-theme/img/icons/user.png" alt="Community data portal">
                        <div class="main-section-box_titles">
                            <h3 class="main-section-box_titles_title">Community data portal</h3>
                        </div>
                    </a>
                    <p class="main-section-box_description">An easy-to-use interactive dashboard to understand more about your community. Compare the situation of immigrants with the general population on key themes such as employment, income, and more.</p>
                    <p class="main-section-box_link">
                        <a href="/ocasi/data-portal/overview/">Use the community data portal</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-5 col-lg-offset-1">
                <div class="main-section-box">
                    <a href="{% url 'ocasi_registry' %}" class="main-section-box_header-links">
                        <img class="main-section-box_icon" src="https://logicaloutcomes.github.io/ocasi-theme/img/icons/reunion.png" alt="Indicator registry">
                        <div class="main-section-box_titles">
                            <h3 class="main-section-box_titles_title">Indicator registry</h3>
                        </div>
                    </a>
                    <p class="main-section-box_description">Find and use validated indicators to assess your agency's service, programs, and outcomes. Bookmark and download indicators to review.</p>
                    <p class="main-section-box_link">
                        <a href="{% url 'ocasi_registry' %}">View the Indicator Registry </a>
                    </p>
                </div>
            </div>

            <div class="col-sm-6 col-lg-5">
                <div class="main-section-box">
                    <a href="{% url 'ocasi_evaluation' %}" class="main-section-box_header-links">
                        <img class="main-section-box_icon" src="https://logicaloutcomes.github.io/ocasi-theme/img/icons/box.png" alt="Evaluation tools">
                        <div class="main-section-box_titles">
                            <h3 class="main-section-box_titles_title">Evaluation tools</h3>
                        </div>
                    </a>
                    <p class="main-section-box_description">These tools will guide you through customizing a logic model, selecting evaluation priorities, designing an evaluation plan, and creating a Data Management Plan.</p>
                    <p class="main-section-box_link">
                        <a href="{% url 'ocasi_evaluation' %}">View more information</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}