{% extends "sis_sites/ocasi/base.html" %}

{% block nav_my_workspace_class %}active{% endblock %}
{% block nav_my_workspace_sr_class %} <span class="sr-only">(current)</span>{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li ><a href="{% url 'ocasi_home' %}">Home</a></li>
  <li class="active">My Workspace</li>
</ol>

<div class="row">
    <div class="col-sm-12">
        <div class="title-box">
            <img class="title-box_icon" src="https://logicaloutcomes.github.io/ocasi-theme/img/icons/historia-clinica.png" alt="Evaluation Plan">
            <h1 class="title-box_title">My Workspace</h1>
            <p class="title-box_description">
                This page contains links to all the tools that you will need to manage your evaluations. If the links don’t work, you need to sign up for the evaluation services. You can see demos of the surveys and reports by going to <a href="{% url 'ocasi_evaluation' %}">Evaluation tools</a>.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>
            <a href="{% url 'aristotle:userFavourites' %}">
                My favourite indicators
            </a>
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>
            My data collection tools
        </h4>

        <ul>
            <li>
                <a>
                    For program managers
                </a>
            </li>
            <li>
                <a>
                    For senior managers of organization
                </a>
            </li>
            <li>
                <a>
                    For all staff
                </a>
            </li>
            <li>
                <a>
                    For clients
                </a>
            </li>
            <li>
                <a>
                    For counsellors and interviewers
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>
            <a href="#">
                My reports and dashboards
            </a>
        </h4>
    </div>
</div>
<hr>
{% endblock %}