{% extends "aristotle_mdr/base.html" %}
{% load i18n aristotle_tags aristotle_help logicaltags %}


{% block nav_registry_class %}active{% endblock %}
{% block nav_registry_sr_class %} <span class="sr-only">(current)</span>{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Registry</li>
    <li class="active">Browse {{ model.get_verbose_name_plural }}</li>
</ol>

<div class="row">
    <div class="col-md-12">
        <div class="title-box">
            <img class="title-box_icon" src="https://logicaloutcomes.github.io/ocasi-theme/img/icons/reunion.png" alt="Data portal">
            <h1 class="title-box_title">Indicator registry</h1>
            <p class="title-box_description">
                This registry contains indicators for OCASI's Service Information System. It focuses on immigrant and refugee services, but it includes indicators and instruments from many other sectors too. To create your own workspace and collect indicators, <a href="/ocasi/help/">get started with SIS</a>
            </p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-3 ">
        {% include "aristotle_mdr_browse/comet/indicator_filters.html" %}
    </div>
    <div class="col-sm-9">
        <div id="indicators-list-table">
            {% include "indicators/browse/indicators.html" with page=page_obj allow_select_all=False %}
        </div>
    </div>
</div>
<hr>
{% endblock %}