{% extends "sis_sites/ocasi/evaluation_base.html" %}
{% load markdown_deux_tags %}

{% block nav_evaluation_class %}active{% endblock %}
{% block nav_evaluation_sr_class %} <span class="sr-only">(current)</span>{% endblock %}

{% block title %}{{ flatpage.title|default:'Review data collection tools' }}{% endblock %}

{% block evaluation_nav_review %}active{% endblock %}

{% block content %}
{{ block.super }}

<div class="row">
    <div class="col-sm-12">
        <div class="title-box">
            <img class="title-box_icon" src="https://logicaloutcomes.github.io/ocasi-theme/img/icons/data_collection.png" alt="Evaluation Plan">
            <h1 class="title-box_title">{{ flatpage.title|default:'Review data collection tools' }}</h1>
            <p class="title-box_description">
                {{ flatpage.content|markdown }}
            </p>
            {% for content_block in flatpage.contentblock_set.all %}
                {{ content_block.render|safe }}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}