{% extends "aristotle_mdr/base.html" %}
{% load aristotle_tags util_tags logicaltags %}

{% block title %}
    {{ item.name }}
    {% if item.version %}
        - v{{ item.version }}
    {% endif %}
    ({{ item.get_verbose_name }})
{% endblock %}

{% block content %}

<h1>Indicator detailed view</h1>

<div class="row indicator-holder">
    <div class="indicator-table">
        <div>
            <header>Indicator name:</header>
            <div><strong>{{item.name}}</strong></div>
        </div>
        <div>
            <header>Question</header>
            <div>
                {% for s in item|get_single_slot:"Question text" %}
                    <p>{{s.value|safe}}</p>
                {% endfor %}
            </div>
        </div>
        <div>
            <header>Description</header>
            <div>{{item.definition|safe}}</div>
        </div>
        <div>
            <header>Numerator</header>
            <div>
                {{ item.numerator_description|safe }}
                {% if item.numerators.exists %}
                <ul>
                {% for num in item.numerators.all %}
                    <li>{% include "aristotle_mdr/helpers/itemLink.html" with item=num showType=False %}
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div>
            <header>Denominator</header>
            <div>
                {{ item.denominator_description|safe }}
                {% if item.denominators.exists %}
                <ul>
                {% for denom in item.denominators.all %}
                    <li>{% include "aristotle_mdr/helpers/itemLink.html" with item=denom showType=False %}
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <div>
            <header>Theory of Change</header>
            <div>
                {% for s in item|get_single_slot:"Theory of Change" %}
                    <p>{{s.value|safe}}</p>
                {% endfor %}
            </div>
        </div>

        <div>
            <header>Method of Measurement</header>
            <div>
                {% for s in item|get_single_slot:"Method of Measurement" %}
                    <p>{{s.value|safe }}</p>
                {% endfor %}
            </div>
        </div>

        <div>
            <header>Data collection method</header>
            <div>
                {% for slot in item|get_single_slot:"Data collection method" %}
                    <p>
                        <a href="{% url 'aristotle_slots:similar_slots' slot.type.id %}?value={{slot.value}}">
                        {{slot.value}}
                        </a>
                    </p>
                {% endfor %}
            </div>
        </div>

        <div>
            <header>Instrument</header>
            <div>
                {% for inst in item.instruments.all %}
                    <p>{% include "aristotle_mdr/helpers/itemLink.html" with item=inst showType=False %}</p>
                {% endfor %}
            </div>
        </div>

        <div>
            <header>Languages</header>
            <div>
                {% for slot in item|get_single_slot:"Languages" %}
                    <p>
                        {{slot.value}}
                    </p>
                {% endfor %}
            </div>
        </div>

        <div>
            <header>References</header>
            <div>{{item.references | safe}}</div>
        </div>

        <div>
            <header>Relevant Population</header>
            <div>
                {% for slot in item|get_single_slot:"Population" %}
                    <p>
                        {{slot.value}}
                    </p>
                {% endfor %}
            </div>
        </div>

        <div>
            <header>Terms of Use</header>
            <div>
                {% for inst in item.instruments.all %}
                    <p>{{ inst.terms_of_use }}</p>
                {% endfor %}
                </ul>
            </div>
        </div>

        {% if item.denominators.exists %}
        <div>
            <header>Disaggregation</header>
            <div>
                {{ item.disaggregation_description|safe }}
            </div>
        </div>
        {% endif %}

    </div>
    <div id="indicator-sidebar">
    {% include "indicators/custom/comet/indicator_infobox.html" %}
    </div>
</div>
{% endblock %}
