{% load aristotle_tags util_tags logicaltags %}

{% block objSpecific %}
    <style>
        header.label, .details {
            vertical-align:top;
            padding:3px;
        }
        header.label {
            width:150px;
            float:left;
            color:darkblue;
        }
        .details {
            padding-left:151px;
            color:#010101;
        }
    </style>
    <h2>{{item.name}}</h2>

<div class="row indicator-holder">
    <div class="indicator-table">
        <div>
            <header class="label">Indicator name</header>
            <div class="details">{{item.name}}</div>
        </div>
        <div>
            <header class="label">Question</header>
            <div class="details">
                {% for s in item|get_single_slot:"Question text" %}
                    <p>{{s.value|safe}}</p>
                {% endfor %}
            </div>
        </div>
        <div>
            <header class="label">Description</header>
            <div class="details">{{item.definition|safe}}</div>
        </div>
        <div>
            <header class="label">Numerator</header>
            <div class="details">
                {{ item.numerator_description|safe }}
                {% if item.numerators.exists %}
                <ul>
                {% for num in item.numerators.all %}
                    <li>{% include "aristotle_mdr/helpers/itemLink.html" with item=num showType=False %}
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div>
            <header class="label">Denominator</header>
            <div class="details">
                {{ item.denominator_description|safe }}
                {% if item.denominators.exists %}
                <ul>
                {% for denom in item.denominators.all %}
                    <li>{% include "aristotle_mdr/helpers/itemLink.html" with item=denom showType=False %}
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <div>
            <header class="label">Theory of Change</header>
            <div class="details">
                {% for s in item|get_single_slot:"Theory of Change" %}
                    <p>{{s.value|safe}}</p>
                {% endfor %}
            </div>
        </div>

        <div>
            <header class="label">Method of Measurement</header>
            <div class="details">
                {% for s in item|get_single_slot:"Method of Measurement" %}
                    <p>{{s.value|safe }}</p>
                {% endfor %}
            </div>
        </div>

        <div>
            <header class="label">Data collection method</header>
            <div class="details">
                {% for slot in item|get_single_slot:"Data collection method" %}
                    <p>
                        <a href="{% url 'aristotle_slots:similar_slots' slot.type.id %}?value={{slot.value}}">
                        {{slot.value}}
                        </a>
                    </p>
                {% endfor %}
            </div>
        </div>

        <div>
            <header class="label">Instrument</header>
            <div class="details">
                {% for inst in item.instruments.all %}
                    <p>{% include "aristotle_mdr/helpers/itemLink.html" with item=inst showType=False %}</p>
                {% endfor %}
            </div>
        </div>

        <div>
            <header class="label">Languages</header>
            <div class="details">
                {% for slot in item|get_single_slot:"Languages" %}
                    <p>
                        {{slot.value}}
                    </p>
                {% endfor %}
            </div>
        </div>

        <div>
            <header class="label">References</header>
            <div class="details">{{item.references | safe}}</div>
        </div>

        <div>
            <header class="label">Relevant Population</header>
            <div class="details">
                {% for slot in item|get_single_slot:"Population" %}
                    <p>
                        {{slot.value}}
                    </p>
                {% endfor %}
            </div>
        </div>

        <div>
            <header class="label">Terms of Use</header>
            <div class="details">
                {% for inst in item.instruments.all %}
                    <p>{{ inst.terms_of_use }}</p>
                {% endfor %}
                </ul>
            </div>
        </div>

        {% if item.denominators.exists %}
        <div>
            <header class="label">Disaggregation</header>
            <div class="details">
                {{ item.disaggregation_description|safe }}
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}
