{% extends "aristotle_mdr/base.html" %}
{% load aristotle_tags util_tags logicaltags %}

{% block extra_head_scripts %}
<style>
    table.table .select2-container {
        min-width:100%;
    }
</style>
{% endblock %}

{% block content %}
<h2>{% block title %}Compare Indicators{% endblock %}</h2>
<p>
    Compare indicators by going to the ‘Browse Indicators’ page and selecting up to three.
    A comparison is a good way to understand the pros and cons of similar-looking measures.
</p>
<form>
    <input class="btn btn-default" type="submit" value="Compare selected indicators"></input>
<table class="table">
    <thead>
    <tr>
        <th></th>
        <td>{{form.indicator_1}}</td>
        <td>{{form.indicator_2}}</td>
        <td>{{form.indicator_3}}</td>
    </tr>
    <tr>
        <th style="width:100px">Indicator Name</th>
        <td>{% include "aristotle_mdr/helpers/itemLink.html" with item=indicators.0 %}</td>
        <td>{% include "aristotle_mdr/helpers/itemLink.html" with item=indicators.1 %}</td>
        <td>{% include "aristotle_mdr/helpers/itemLink.html" with item=indicators.2 %}</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Question</th>
        {% for item in indicators %}
        <td>
                {% for s in item|get_single_slot:"Question text" %}
                    <p>{{s.value|safe}}</p>
                {% endfor %}
        </td>
        {% endfor %}
    </tr>
    <tr>
        <th>Instrument</th>
        <td>{% include "aristotle_mdr/helpers/itemLink.html" with item=indicators.0.instruments.first %}</td>
        <td>{% include "aristotle_mdr/helpers/itemLink.html" with item=indicators.1.instruments.first %}</td>
        <td>{% include "aristotle_mdr/helpers/itemLink.html" with item=indicators.2.instruments.first %}</td>
    </tr>
    <tr>
        <th>Data collection method</th>
        {% for item in indicators %}
        <td>
            {% for s in item|get_single_slot:"Data collection method" %}
                <p>{{s.value|safe }}</p>
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    <tr>
        <th>Languages</th>
        {% for item in indicators %}
        <td>
            {% for s in item|get_single_slot:"Languages" %}
                <p>{{s.value|safe }}</p>
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    <tr>
        <th>References</th>
        {% for item in indicators %}
        <td>
            {{item.references | safe}}
        </td>
        {% endfor %}
    </tr>
    <tr>
        <th>Population</th>
        {% for item in indicators %}
        <td>
            {% for s in item|get_single_slot:"Population" %}
                <p>{{s.value|safe }}</p>
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    <tr>
        <th>Method of Measurement</th>
        {% for item in indicators %}
        <td>
            {% for s in item|get_single_slot:"Method of Measurement" %}
                <p>{{s.value|safe }}</p>
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    <tr>
        <th>Rationale for selection</th>
        {% for item in indicators %}
        <td>
            {% for s in item|get_single_slot:"Rationale" %}
                <p>{{s.value|safe }}</p>
            {% endfor %}
        </td>
        {% endfor %}
    </tr>

    <tr>
        <th>Terms of Use</th>
        <td>{{ indicators.0.instruments.first.terms_of_use }}</td>
        <td>{{ indicators.1.instruments.first.terms_of_use }}</td>
        <td>{{ indicators.2.instruments.first.terms_of_use }}</td>
    </tr>
    </tbody>
</table>
</form>
{% endblock %}
