{% extends "aristotle_mdr/base.html" %}

{% block content %}


<div class="row">
    <div class="col-xs-12">
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="#">Contact</a></li>
</ol>
<h1><a href="#">{% block title %}Contact{% endblock %}</a></h1>
<p>
There are many partners involved in this project. 
 
<br>For Prosper Canada, contact Salima Shariff at [info]
<br>For LogicalOutcomes, contact Sara Gaudon at []
<br>For Aristotle, contact <a href="emailto:sam.spencer@data61.csiro.au">Sam Spencer at sam.spencer@data61.csiro.au</a>
</p>
</div>
</div>
{% endblock %}
