{% extends "aristotle_mdr/base.html" %}

{% block content %}


<div class="row">
    <div class="col-xs-12">
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="#">Privacy Policy</a></li>
</ol>

<h1><a href="#">{% block title %}Privacy Policy{% endblock %}</a></h1>
<p><strong>Effective: July 31, 2014</strong></p>
<p>
This privacy policy applies to LogicalOutcomes Canada (herein referred to as LogicalOutcomes).
This privacy policy describes how LogicalOutcomes defines, collects and uses personal information.
 </p><p>
<h2>Our Commitment</h2>
LogicalOutcomes is committed to protecting the privacy of the personal information of its clients,
contractors, vendors and other stakeholders. LogicalOutcomes values the trust of those we do business
with, and of the public, and recognizes that maintaining this trust requires transparency and
accountability in how we treat the information that you choose to share with us.
<br>During the course of our consulting work LogicalOutcomes regularly gathers and uses personal
information. Anyone from whom we collect such information should expect that it will be carefully
protected and that any use of or other dealing with this information is subject to consent.
LogicalOutcomes privacy and data security practices are designed to achieve this.
 </p><p>
<h2>Defining Personal Information</h2>
Personal information is any information that can be used to distinguish, identify or contact
a specific individual. This information can include an individual’s opinions or beliefs, general
survey data, as well as facts about, or related to, the individual. Examples of personal 
information include Social Insurance Number, age, marital status, etc. Exceptions: Business
contact information and certain publicly available information, such as names, addresses
and telephone numbers as published in telephone directories, are not considered personal information.
<br>Where an individual uses his or her home contact information as business contact information, 
LogicalOutcomes considers this to be business contact information, and it is not therefore subject
to protection as personal information.
 </p><p>
<h2>Privacy Practices</h2>
Personal information gathered by LogicalOutcomes is kept in confidence. LogicalOutcomes
personnel are authorized to access personal information based only on their need to deal 
with the information for the reason(s) for which it was obtained. Safeguards are in place
to ensure that the information is not disclosed or shared more widely than is necessary to 
achieve the purpose for which it was gathered. We also take rigorous measures to ensure 
that the integrity of this information is maintained and to prevent its loss or destruction.
<br>We collect, use and disclose personal information only for purposes that a reasonable
person would consider appropriate in light of the circumstances.
<br>We do not share, sell, rent or trade personal information with third parties.
 </p><p>
<h2>Contact Information</h2>
Questions, concerns or complaints relating to LogicalOutcomes’ privacy policy or the treatment
of personal information should be e-mailed to our Privacy Officer at privacy[@]logicaloutcomes.net
<br>Further information on privacy and your rights in regard to your personal information
may be found on the website of the <a href="https://www.priv.gc.ca/en/">Privacy Commissioner of Canada </a>.
</p>
</div>
</div>
{% endblock %}
